<div class="box box-{{box}}">
    <div class="box-header with-border">
        <h3 class="box-title">New Owner Information</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">First Name</label>
                  {{input type="text" class="form-control" value=model.owner.firstName placeholder="First Name"}}
                </div>
                <div class="form-group required">
                    <label class="control-label">Last Name</label>
                  {{input type="text" class="form-control" value=model.owner.lastName placeholder="Last Name"}}
                </div>

                <div class="form-group required">
                    <label class="control-label">Relationship to Camper</label>

                    <div>
                      {{#each listService.ownerRelationship as |item|}}
                        {{radio-button value=item.value groupValue=model.owner.relationship}} {{item.label}}
                      {{/each}}
                    </div>
                </div>

                <div class="form-group required">
                    <label class="control-label">Gender</label>

                    <div>
                      {{#each listService.gender as |item|}}
                        {{radio-button value=item.value groupValue=model.owner.gender}} {{item.display}}
                      {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group required">
                    <label class="control-label">Email</label>

                  {{input type="email" class="form-control" value=model.owner.email placeholder="Email Address"}}
                </div>

                <div class="form-group required">
                    <label class="control-label">Primary Phone Number</label>
                  {{input type="text" class="form-control" value=model.phone.number placeholder="###-###-####"}}
                </div>
                <div class="form-group required">
                    <label class="control-label">Phone Type</label>

                    <div>
                      {{#each listService.ownerNumberType as |item|}}
                        {{radio-button value=item.value groupValue=model.phone.phoneType}} {{item.label}}
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="pull-right">
          {{#link-to 'client.members.list' class="btn btn-primary "}}Back{{/link-to}}
            <button class="btn btn-primary" {{action "save" model}}>Save</button>
        </div>
    </div>
    <!-- /.box-footer -->
</div>