<!-- Default box -->
<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">{{model.firstName}} {{model.lastName}}</h3>

        <div class="box-tools">
            <div class="btn-group pull-right">
                {{#link-to "attendees.edit" model.id class="btn btn-default"}}
                    Cancel
                {{/link-to}}
            </div>
        </div>

    </div>
    <div class="box-body form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">First Name</label>

            <div class="col-sm-10">
                {{input type="text" class="form-control" value=model.firstName}}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Last Name</label>

            <div class="col-sm-10">
                {{input type="text" class="form-control" value=model.lastName}}</div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Birthday</label>

            <div class="col-sm-10">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    {{pikaday-input value=model.dob format='MM-DD-YYYY' valueFormat='YYYY-MM-DD' class="form-control" yearRange="-20,0"}}
                </div>
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-2 control-label">Gender</label>

            <div class="col-sm-10">
                {{#each listService.gender as |item| }}
                    {{radio-button value=item.value groupValue=model.gender}} {{item.display}}
                {{/each}}
            </div>
        </div>

        {{#each customFields as |item|}}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{item.display}}</label>

                <div class="col-sm-10">
                    {{custom-input customField=item model=model}}
                </div>
            </div>
        {{/each}}

        <div class="form-group">
            <label class="col-sm-2 control-label">Active?</label>

            <div class="col-sm-10">
                {{input type="checkbox" checked=model.active}} (Access to client portal)
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" {{action "save" model}}>Save</button>
            </div>
        </div>
    </div>
</div>
<!-- /.box -->
