<div class="login-box">
    <div class="login-logo">
        <b>{{campName}}</b>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <div class="login-box">
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to your {{campName}} site</p>

              {{#if errorMessage}}
                  <div class="alert alert-danger">
                      <strong>Login failed:</strong> {{errorMessage}}
                  </div>
              {{/if}}

              {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
                <form {{action 'authenticate' on='submit'}}>
                    <div class="form-group has-feedback">
                        <div class="input-group">
                          {{input id='identification' type="text" class="form-control" value=identification }}
                            <span class="input-group-addon">{{fa-icon 'user'}}</span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="input-group">
                          {{input id='password' type="password" class="form-control" value=password }}
                            <span class="input-group-addon">{{fa-icon 'lock'}}</span>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>

                </form>
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>

    <div class="col-md-4">
        <div class="login-box">
            <div class="login-box-body">
                <p class="login-box-msg"></p>

                <div class="text-center">
                  {{#link-to "client.auth.new" class="btn btn-primary btn-block btn-flat"}}Create New
                      Account{{/link-to}}
                    <div style="margin: 20px;"><strong> - OR - </strong></div>
                  {{#link-to "client.auth.reminder" class="btn btn-primary btn-block btn-flat"}}Help! I forgot my
                      password!{{/link-to}}
                    <div style="margin: 20px;"><strong> - OR - </strong></div>
                  {{#link-to "client.auth.activate" class="btn btn-primary btn-block btn-flat"}}Activate My
                      Account{{/link-to}}
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>