<div class="panel panel-info">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-xs">Delete</a>
            {{#link-to "setup.locations.edit" class="btn btn-default btn-xs"}}Edit{{/link-to}}
        </div>
        <h4 class="panel-title"><span class="glyphicon glyphicon-tent"></span> {{model.name}}</h4>
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>Description:</dt>
            <dd>{{model.description}}</dd>
            <dt>Address:</dt>
            <dd>
                <address>
                    {{model.addr_1}}<br>
                    {{model.city}}, {{model.state}} {{model.zip}}<br>
                </address>
            </dd>
        </dl>
    </div>
</div>
