{{#if isEditing}}
    <div class="clearfix form-horizontal" style="padding: 10px;">
        <div class="form-group required">
            <label class="col-sm-4 control-label">Telephone Number</label>

            <div class="col-sm-8">
                {{input type="text" class="form-control" value=phone.number placeholder="###-###-####"}}
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-4 control-label">Telephone Type</label>

            <div class="col-sm-8">
                {{#each listService.ownerNumberType  as |item|}}
                    {{radio-button value=item.value groupValue=phone.phoneType}} {{item.label}}
                {{/each}}
            </div>
        </div>

        <div class="form-group required">
            <label class="col-sm-4 control-label">Primary Number</label>

            <div class="col-sm-8">
                {{input type='checkbox' checked=phone.primary}}
            </div>
        </div>

        <div class="pull-right">
            <button class="btn btn-success" {{action 'save' phone}}>Save</button>
            <button class="btn btn-success" {{action 'cancel'}}>Cancel</button>
        </div>
    </div>
{{else}}
    <li>
        <div class="pill-item">
            <i class="fa fa-circle-o text-blue"></i>
            {{phone.phoneType}} - {{phone.number}}
            {{#if phone.primary}}
                <span class="label label-success">Primary</span>
            {{/if}}
            <div class="pill-tools pull-right">
                <button class="btn btn-default btn-xs" {{action 'edit'}} > {{fa-icon 'pencil'}} </button>
                <button class="btn btn-default btn-xs" {{action 'delete' phone}} > {{fa-icon 'trash'}} </button>
            </div>
        </div>
    </li>
{{/if}}