{{#if (and isEditing localEditing)}}
  {{util/validated-input valuePath='number' model=phone placeholder="###-###-####" labelText="Phone Number"}}
  <div class="form-group required">
      <label class="control-label">Phone Type</label>

      <div>
        {{#each listService.ownerNumberType as |item|}}
          {{radio-button value=item.value groupValue=phone.phoneType}} {{item.label}}
        {{/each}}
      </div>
  </div>
  <div class="form-group">
      <label class="control-label">Primary Number?</label>

      <div>
        {{input type="checkbox" checked=phone.primary}}
      </div>
  </div>

  <div class="pull-right">
      <button id="save-edit-phone" class="btn btn-primary" {{action "save" phone}}
              disabled={{if phone.validations.isValid false true}}>Save
      </button>
      <button class="btn btn-primary" {{action 'cancel' phone}} id="cancel-edit-phone">Cancel</button>
  </div>
{{/if}}

{{#unless isEditing}}
  {{#unless localEditing}}
      <li style="height: 35px;">
          <i class="fa fa-circle-o text-blue"></i>
        {{phone.phoneType}} - {{phone.number}}
          <div class="pull-right">
            {{#if phone.primary}}
                <span class="label label-success">Primary</span>
            {{/if}}
              <button class="btn btn-primary btn-xs" {{action 'edit'}} > {{fa-icon 'pencil'}} </button>
              <button class="btn btn-primary btn-xs" {{action 'delete' phone}} > {{fa-icon 'trash'}} </button>
          </div>
      </li>
  {{/unless}}
{{/unless}}
