<div class="box box-warning">
    <div class="box-header with-border"></div>
    <!-- /.box-header -->

    {{#if model.errors}}
        {{#each errors.messages}}

        {{/each}}
    {{/if}}

    <div class="box-body form-horizontal">
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Name:</label>
            <div class="col-sm-8">
                {{input class="form-control" value=model.name}}
                {{#each model.errors.name as |error|}}
                    <div class="error">
                        ....error: {{error.message}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Description:</label>
            <div class="col-sm-8">
                {{textarea class="form-control" value=model.description rows=10}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Cost:</label>
            <div class="col-sm-8">
                {{input class="form-control" value=model.fee}}
                {{#each model.errors.fee as |error|}}
                    <div class="error">
                        ....error: {{error.message}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="box-footer clearfix">
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-xs" {{action "save" model}}>Save</button>
            {{#link-to "programs.info" model class="btn btn-primary btn-xs"}}Cancel{{/link-to}}
        </div>
    </div>
</div>
