<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="pull-right">
            <button class="btn btn-primary btn-xs" {{action (toggle 'useNewCard' this)}}>{{toggleText}}</button>
        </div>
    </div>
</div>

{{#if useNewCard}}
  {{card/quick-add newCard=newCard saveNewCard=saveNewCard}}
{{else}}
    <div class="form-group required" id="card-on-file-form">
        <label>Credit Card On File</label>

        <div class="input-group">
          {{#x-select value=selectedCard class='form-control' disabled=false id="cardOnFile"}}
              <option>Select</option>
            {{#each existingCards as |item|}}
              {{#x-option value=item}}{{item.name}}{{/x-option}}
            {{/each}}
          {{/x-select}}

          {{#util/input-tooltip content="Only active credit cards will appear in this list."}}
            {{fa-icon "info"}}
          {{/util/input-tooltip}}
        </div>
    </div>
{{/if}}