<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Camp Portal</li>

        <li id="nav-home">
          {{#link-to 'client.dash'}} {{fa-icon "home"}} Home{{/link-to}}
        </li>
        <li id="nav-members">
          {{#link-to 'client.members.list'}} {{fa-icon "users"}} Account Members{{/link-to}}
        </li>
        <li id="nav-members">
          {{#link-to 'client.registrations.list'}} <span class="glyphicon glyphicon-tent"></span>
              Registrations{{/link-to}}
        </li>
        <li id="nav-members">
          {{#link-to 'client.billing.summary'}} {{fa-icon "shopping-cart"}} Billing & Payments{{/link-to}}
        </li>
        <li id="nav-test">
          {{#link-to 'client.test'}} {{fa-icon "flask"}} Experiments{{/link-to}}
        </li>
        <li id="nav-email">
          {{#link-to 'client.test'}} {{fa-icon "envelope"}} Camper Email{{/link-to}}
        </li>
        <li id="nav-media">
          {{#link-to 'client.test'}} {{fa-icon "photo"}} Photo Album{{/link-to}}
        </li>
    </ul>
</section>
<!-- /.sidebar -->