<div class="wrapper">
  {{partial "navigation/main-header"}}
  {{partial "navigation/main-sidebar"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Registrations
            </h1>
          {{partial "navigation/main-breadcrumb"}}
        </section>
        <!-- Main content -->
      {{outlet}}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  {{partial "navigation/main-footer"}}
</div>