<div class="login-box">
    <div class="login-logo">
        <a href=""><b>SMORES</b>.camp</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to your SMORES.camp site</p>

        {{#if errorMessage}}
            <div class="alert alert-danger">
                <strong>Login failed:</strong> {{errorMessage}}
            </div>
        {{/if}}

        {{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
        <form {{action 'authenticate' on='submit'}}>
            <div class="form-group has-feedback">
                <div class="input-group">
                    {{input type="text" class="form-control" value=identification }}
                    <span class="input-group-addon">{{fa-icon 'user'}}</span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <div class="input-group">
                    {{input type="password" class="form-control" value=password }}
                    <span class="input-group-addon">{{fa-icon 'lock'}}</span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                <p>- OR -</p>
                <button type="submit" class="btn btn-default btn-block btn-flat">What is my password?</button>
            </div>

        </form>


    </div>
    <!-- /.login-box-body -->
</div>