<!-- Default box -->
<!-- Default box -->
<div class="box box-primary box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Store Credit Card On File</h3>

        <div class="box-tools">
        </div>
    </div>
    <div class="box-body form-horizontal">
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Name On Card</label>

            <div class="col-sm-8">
                {{input type="text" class="form-control" value=model.nameOnCard}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Expiration</label>

            <div class="col-sm-4">
                {{x-select
                content=listService.monthNumber
                optionValuePath="content.value"
                optionLabelPath="content.label"
                prompt="Select"
                value=model.expirationMonth
                class="form-control"}}
            </div>
            <div class="col-sm-4">
                {{x-select
                content=listService.cardExpirationYear
                optionValuePath="content.value"
                optionLabelPath="content.label"
                prompt="Select"
                value=model.expirationYear
                class="form-control"}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Card Number</label>

            <div class="col-sm-8">
                {{input type="text" class="form-control" value=model.number}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Vendor</label>

            <div class="col-sm-8">
                {{x-select
                content=listService.cardVendor
                optionValuePath="content.value"
                optionLabelPath="content.label"
                prompt="Select"
                value=model.vendor
                class="form-control"}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Is this a debit card?</label>

            <div class="col-sm-8">
                {{#each listService.boolean as |item| }}
                    {{radio-button value=item.value checked=model.isDebit}} {{item.name}}
                {{/each}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Can this card be used for reoccuring charges?</label>

            <div class="col-sm-8">
                {{#each listService.boolean as |item| }}
                    {{radio-button value=item.value checked=model.allowReoccuring}} {{item.name}}
                {{/each}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right">
                    {{#link-to "accounts.cards" class="btn btn-primary"}}
                        Cancel{{/link-to}}
                    <button class="btn btn-primary pull-right" {{action "save" model}}>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.box -->
