<!-- Content Header (Page header) -->
<section class="content-header">
    <h1> Setup: Programs </h1>
    {{partial "navigation/main-breadcrumb"}}
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <section class="col-lg-4">
            <div class="box box-primary">
                {{partial "pager/list/header"}}
                <div class="box-body">
                    <ul class="todo-list">
                        {{#each record in this}}
                            <li>
                            <span class="text">
                                {{record.name}}
                            </span>

                                <div class="tools">
                                    {{#link-to "setup.programs.info" record}}{{fa-icon "folder-open-o"}}{{/link-to}}
                                    {{#link-to "setup.programs.edit" record}}{{fa-icon "edit"}}{{/link-to}}
                                    {{fa-icon "trash-o"}}
                                </div>
                            </li>
                        {{else}}
                            <li>no records found ... :-(</li>
                        {{/each}}

                    </ul>
                </div>
                {{partial "pager/list/footer"}}
            </div>
            <!-- /. end box-primary -->
        </section>
        <section class="col-lg-8">
            {{outlet}}
        </section>
    </div>
    <!-- ./row -->
</section>
<!-- /.content -->