<div role="navigation" id="main-menu">
    <div id="main-menu-inner"
         style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
        <ul class="navigation">
            <li>
                {{#link-to 'dash'}}
                    {{fa-icon "dashboard" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Dashboard</span>
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'registrations'}}
                    {{fa-icon "clipboard" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Registrations</span>
                {{/link-to}}
            </li>
            <li>
                <a href="layouts-main-menu.html" tabindex="-1">{{fa-icon "group" classNames="menu-icon"}}<span
                        class="mm-text">Accounts & Attendees</span></a>
                <ul class="mmc-dropdown-delay animated fadeInLeft collapse" id="test">
                    <li>
                        {{#link-to 'accounts'}}
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="mm-text">Accounts</span>
                        {{/link-to}}
                    </li>
                    <li>
                        {{#link-to 'attendees'}}
                            {{fa-icon "child" classNames="menu-icon"}}<span
                                class="mm-text">Attendees</span>
                        {{/link-to}}
                    </li>
                </ul>
            </li>


            <li>
                {{#link-to "reports"}}
                    {{fa-icon "pie-chart" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Reports</span>
                {{/link-to}}
            </li>
            <li>
                {{#link-to "setup"}}
                    <span class="glyphicon glyphicon-tent menu-icon"></span>
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Camp Setup</span>
                {{/link-to}}
            </li>
            <li>
                {{#link-to "test"}}
                    {{fa-icon "flask" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Experimental Features</span>
                {{/link-to}}
            </li>
            <li>
                <a>
                    {{fa-icon "sun-o" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Summer Services</span>
                </a>
                <ul class="mmc-dropdown-delay animated fadeInLeft collapse" id="test">
                    <li>
                        <a href="layouts-grid.html" tabindex="-1">{{fa-icon "envelope" classNames="menu-icon"}}<span
                                class="mm-text">Camper Email</span></a>
                    </li>
                    <li>
                        <a href="layouts-main-menu.html" tabindex="-1">{{fa-icon "photo" classNames="menu-icon"}}<span
                                class="mm-text">Photo Albums</span></a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- / .navigation -->
    </div>
    <!-- / #main-menu-inner -->
</div>