<div role="navigation" id="main-menu">
    <div id="main-menu-inner" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
        <ul class="navigation">
            <li>
                <a data-toggle="collapse" data-target="#test" >
                    {{fa-icon "dashboard" classNames="menu-icon"}}
                    <span class="mm-text mmc-dropdown-delay animated fadeIn">Dashboard</span>
                </a>
                <ul class="mmc-dropdown-delay animated fadeInLeft collapse" id="test">
                    <li>
                        <a href="layouts-grid.html" tabindex="-1"><span class="mm-text">Grid</span></a>
                    </li>
                    <li>
                        <a href="layouts-main-menu.html" tabindex="-1"><i class="menu-icon fa fa-th-list"></i><span class="mm-text">Main menu</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a>{{fa-icon "tasks" classNames="menu-icon"}}<span class="mm-text mmc-dropdown-delay animated fadeIn">Stat panels</span></a>
            </li>
            <li>
                <a href="test">{{fa-icon "pie-chart" classNames="menu-icon"}}<span class="mm-text mmc-dropdown-delay animated fadeIn">Widgets</span></a>
            </li>
            <li>
                <a href="test">{{fa-icon "table" classNames="menu-icon"}}<span class="mm-text mmc-dropdown-delay animated fadeIn">Tables</span></a>
            </li>
            <li>
                <a href="test">{{fa-icon "flask" classNames="menu-icon"}}<span class="mm-text mmc-dropdown-delay animated fadeIn">Charts</span></a>
            </li>
        </ul> <!-- / .navigation -->
    </div> <!-- / #main-menu-inner -->
</div>