<!-- Default box -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">{{fa-icon 'credit-card'}} {{title}}</h3>

        <div class="box-tools"></div>
    </div>
    <div class="box-body">
      {{util/validated-text valuePath='nameOnCard' model=card placeholder="Cardholder Name" labelText="Name On Card"}}

        <div class="form-group required">
          {{#util/validated-input valuePath='expirationMonth' model=card labelText="Expiration Month"}}
                {{#util/x-select
                class='expirationMonth'
                options=listService.monthNumber
                searchField='label'
                selected=(get-list listService.monthNumber card.expirationMonth)
                placeholder='Month'
                searchEnabled=false
                onchange=(action (mut-list card 'expirationMonth')) as |item|}}
                  {{item.label}}
                {{/util/x-select}}
          {{/util/validated-input}}
        </div>

        <div class="form-group required">
          {{#util/validated-input valuePath='expirationYear' model=card labelText="Expiration Year"}}
            {{#util/x-select
            class='expirationYear'
            options=listService.cardExpirationYear
            searchField='label'
            selected=(get-list listService.cardExpirationYear card.expirationYear)
            placeholder='Year'
            searchEnabled=false
            onchange=(action (mut-list card 'expirationYear')) as |item|}}
              {{item.label}}
            {{/util/x-select}}
          {{/util/validated-input}}
        </div>

      {{util/validated-text valuePath='number' model=card placeholder="Card Number" labelText="Card Number"}}
      {{util/validated-text valuePath='cvc' model=card placeholder="CVC" labelText="Card Verification Code"}}

        <div class="form-group required">
          {{#util/validated-input valuePath='vendor' model=card labelText="Vendor"}}
            {{#util/x-select
            class='vendor'
            options=listService.cardVendor
            searchField='label'
            selected=(get-list listService.cardVendor card.vendor)
            placeholder='Please select a Card Vendor'
            searchEnabled=false
            onchange=(action (mut-list card 'vendor')) as |item|}}
              {{item.label}}
            {{/util/x-select}}
          {{/util/validated-input}}
        </div>

        <div class="form-group required">
          {{#util/validated-input valuePath='isDebit' model=card labelText="Is this a debit card?"}}
              <div class="checkbox">
                {{#each listService.boolean  as |item|}}
                  {{radio-button value=item.value groupValue=card.isDebit name='isDebit'}} {{item.name}}
                {{/each}}
              </div>
          {{/util/validated-input}}
        </div>

        <div class="form-group required">
          {{#util/validated-input valuePath='allowReoccuring' model=card labelText="Can this card be used for re-occuring charges?"}}
              <div class="checkbox">
                {{#each listService.boolean  as |item|}}
                  {{radio-button value=item.value groupValue=card.allowReoccuring name='allowReoccuring'}} {{item.name}}
                {{/each}}
              </div>
          {{/util/validated-input}}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                  {{#link-to backAddr class="btn btn-primary" id="cancel-new-card"}}Back{{/link-to}}

                  {{#spinner-button
                  id="save-new-card"
                  onclick=(action (route-action "save" card))
                  isSpinning=isPending
                  class="btn btn-primary"
                  disabled=(if card.validations.isValid false true)}}
                      Save
                  {{/spinner-button}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.box -->