<div class="row">
    <div class="col-md-6">
        <div class="box box-{{box}}">
            <div class="box-header with-border">
                <h3 class="box-title">{{fa-icon 'users'}} Owners</h3>

                <div class="box-tools">
                  {{#link-to 'client.members.add-owner' class="btn btn-box-tool"}}{{fa-icon "plus"}} Owner{{/link-to}}
                </div>
            </div>
            <div class="box-body">
                <div class="list-group parent-list">
                  {{#each model.owners as |item|}}
                    {{#link-to 'client.members.edit-owner' item.id class="list-group-item"}}
                        <h4 class="list-group-item-heading">{{item.firstName}} {{item.lastName}}
                        </h4>
                      {{#if item.primaryContact}}
                          <span class="label label-success">Primary</span>
                      {{/if}}
                        <p class="list-group-item-text">{{item.relationship}}</p>
                    {{/link-to}}
                  {{else}}
                      <li>no records found ... :-(</li>
                  {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-{{box}}">
            <div class="box-header with-border">
                <h3 class="box-title">{{fa-icon 'users'}} Campers</h3>

                <div class="box-tools">
                  {{#link-to 'client.members.add-attendee' class="btn btn-box-tool"}}{{fa-icon "plus"}}
                      Camper{{/link-to}}
                </div>
            </div>
            <div class="box-body">
                <div class="list-group camper-list">
                  {{#each model.attendees as |item|}}
                    {{#link-to 'client.members.edit-attendee' item.id class="list-group-item"}}
                        <h4 class="list-group-item-heading">{{item.firstName}} {{item.lastName}}</h4>

                        <p class="list-group-item-text">
                          {{moment-format item.dob 'MM/DD/YYYY'}} -
                          {{#if item.active}}
                              <span class="label label-success">Active</span>
                          {{else}}
                              <span class="label label-warning">Inactive</span>
                          {{/if}}
                        </p>
                    {{/link-to}}
                  {{else}}
                      <li>no records found ... :-(</li>
                  {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>