<h4>
    Setup: Sessions
  {{#util/x-tooltip contentAsHTML=true
  content='Each session represents a week that your camp is open. <ul>
                <li>Smores requires at least one session to be configured in order to accept registrations.</li></ul>'}}
    {{fa-icon "info"}}
  {{/util/x-tooltip}}
</h4>

<div class="row">
    <section class="col-sm-4">
        <div class="box box-warning">
            <div class="box-header">
                <div class="box-tools">
                    <div class="btn-group pull-right">
                      {{#link-to 'mgr.setup.sessions.add' class="btn btn-primary btn-xs"}}
                        {{fa-icon "plus"}} Session
                      {{/link-to}}
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list">
                  {{#each model as |record| }}
                    {{#if record.id}}
                        <li class="clearfix">
                                        <span class="text">
                                            {{record.name}}
                                            <small>from {{moment-format record.start 'MM/DD'}}
                                                to {{moment-format record.end 'MM/DD'}}</small>
                                        </span>

                            <div class="tools">
                              {{#link-to 'mgr.setup.sessions.edit' record}}{{fa-icon "edit"}}{{/link-to}}
                                <a {{action 'showModal' 'modals/delete-confirm' record}}>{{fa-icon "trash-o"}}</a>
                            </div>
                        </li>
                    {{/if}}
                  {{else}}
                      <li>no records found ... :-(</li>
                  {{/each}}
                </ul>
            </div>
        </div>
        <!-- /. end box-primary -->
    </section>
    <section class="col-sm-2">
    </section>
    <section class="col-sm-6">
      {{outlet}}
    </section>
</div>