<div class="row">
    <div class="col-md-1">
        <div class="form-group">
          {{#x-select value=request.priority class='form-control'}}
              <option>Select</option>
            {{#each priorities as |item|}}
              {{#x-option value=item}}{{item}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
          {{#util/x-select
          class='registrationLocations'
          options=locations
          searchEnabled=false
          selected=currentLocation
          placeholder='Select'
          onchange=(action "locationChanged")
          as |result|
          }}
            {{result.name}}
          {{/util/x-select}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
          {{#util/x-select
          class='registrationSessions'
          options=filteredSessions
          searchEnabled=false
          selected=currentSession
          placeholder='Select'
          onchange=(action "sessionChanged")
          disabled=isSessionDisabled
          as |result|
          }}
            {{result.name}}
          {{/util/x-select}}
        </div>
    </div>
    <div class="col-md-3">

      {{#util/x-select
      class='registrationEvents'
      options=filteredEvents
      searchEnabled=false
      selected=request.event
      placeholder='Select'
      onchange=(action (mut request.event))
      disabled=isEventDisabled
      as |result|
      }}
        {{result.fullName}}
      {{/util/x-select}}
    </div>
    <div class="col-md-3">
        <div class="form-group">
          {{input type="text" class="form-control" value=request.note}}
        </div>
    </div>
    <div class="col-md-1">
        <button class="btn btn-default btn-xs" {{action (route-action "removeRequest" request)}}>
          {{fa-icon 'trash'}}
        </button>
    </div>
</div>