<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Priority</label>
            {{x-select
            action=priorityChanged
            content=priorities
            optionValuePath="content"
            optionLabelPath="content"
            prompt="Select"
            class="form-control"
            comp=this}}
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Location</label>
            {{x-select
            action=locationChanged
            content=locations
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=currentLocation
            prompt="Select"
            class="form-control"
            comp=this}}
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Session</label>
            {{x-select
            action=sessionChanged
            content=filteredSessions
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=currentSession
            prompt="Select"
            class="form-control"
            comp=this
            disabled=isSessionDisabled}}
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Program / Cabin</label>
            {{x-select
            action=eventChanged
            content=filteredEvents
            optionValuePath="content"
            optionLabelPath="content.fullName"
            prompt="Select"
            class="form-control"
            disabled=isEventDisabled
            comp=this}}
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Note</label>
            {{input type="text" class="form-control" value=request.note}}
            <a {{action "removeRequest" }}>
                {{fa-icon 'trash'}}
            </a>
        </div>
    </div>
</div>