<div class="nav-tabs-custom">
    {{accounts/tab-nav model=model isInfo='active'}}
    <div class="tab-content">
        <div id="main" class="tab-pane active">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-blue">Owners:</h4>
                    <ul class="nav nav-pills nav-stacked">
                        {{#each model.owners as |owner| }}
                            <li>
                                {{#link-to "owner" owner.id}}{{owner.firstName}} {{owner.lastName}}{{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-blue">Attendees:</h4>
                    <ul class="nav nav-pills nav-stacked">
                        {{#each model.attendees as |attendee| }}
                            <li>
                                {{#link-to "attendees.info" attendee.id}}{{attendee.firstName}} {{attendee.lastName}}{{/link-to}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-blue">Addresses:</h4>
                    <ul class="list-unstyled">
                        {{#each model.accountAddrs as |addr| }}
                            <address>
                                {{addr.addr_1}}<br>
                                {{addr.city}}, {{addr.state}} {{addr.zip}}<br>

                                {{#if addr.billing}}
                                    <span class="label label-primary">Billing</span>
                                {{/if}}

                                {{#if addr.mailing}}
                                    <span class="label label-primary">Mailing</span>
                                {{/if}}
                            </address>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
</div>
<!-- /.tab-content -->