<div class="box">
    {{ partial "pager/table/header"}}
    <div class="box-body">
        <div role="grid" class="form-inline">
            {{partial "pager/table/tools"}}
            <table class="table table-bordered table-striped">
                {{partial "pager/table/table-header"}}
                {{partial "pager/table/row"}}
            </table>
            {{partial "pager/table/footer"}}
        </div>
    </div>
</div>