<div class="row">
    <div class="col-xs-6">
        <div id="example1_length" class="dataTables_length">
            <label>Per Page: <br>
                {{view "select"
                content=pageList
                optionValuePath="content"
                optionLabelPath="content"
                value=perPage}}
            </label>

            <button {{action 'refresh'}} class="btn btn-xs btn-primary">{{fa-icon 'refresh'}}</button>
        </div>
    </div>
    <div class="col-xs-6">
        {{#if quickSearchField}}
            <div class="dataTables_filter">
                <label>Search:
                    <div class="input-group input-group-sm">
                        {{input type="text" class="form-control" value=quickSearch}}
                        <span class="input-group-btn">
                            <button {{action 'runQuickSearch'}}
                                    class="btn btn-primary btn-flat">{{fa-icon 'search'}}</button>
                        </span>
                    </div>
                </label>
            </div>
        {{/if}}
    </div>
</div>