<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">{{title}}</h3>
    <span class="pull-right required">
          Indicates Required Field
        </span>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-md-6">
        {{util/validated-text valuePath='firstName' model=owner placeholder="First Name" labelText="First Name"}}
        {{util/validated-text valuePath='lastName' model=owner placeholder="Last Name" labelText="Last Name"}}
        <div class="form-group required">
          <label class="control-label">Relationship to Camper</label>
          <div>
            {{#each listService.ownerRelationship as |item|}}
              {{radio-button value=item.value groupValue=owner.relationship name='relationship'}} {{item.label}}
            {{/each}}
          </div>
        </div>

        <div class="form-group required">
          <label class="control-label">Gender</label>
          <div>
            {{#each listService.gender as |item|}}
              {{radio-button value=item.value groupValue=owner.gender name='gender'}} {{item.display}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {{util/validated-text valuePath='email' model=owner placeholder="Email" labelText="Email"}}
        {{util/validated-text valuePath='number' model=phone placeholder="###-###-####" labelText="Primary Phone Number"}}

        <div class="form-group required">
          <label class="control-label">Phone Type</label>

          <div>
            {{#each listService.ownerNumberType as |item|}}
              {{radio-button value=item.value groupValue=phone.phoneType name='phoneType'}} {{item.label}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <div class="pull-right">
      <button id="cancel-new-owner" class="btn btn-primary" {{action (route-action "cancel" owner)}}>
        Cancel
      </button>

      <button id="save-new-owner" class="btn btn-primary" {{action (route-action "save" owner phone)}}
              disabled={{if (and owner.validations.isValid phone.validations.isValid) false true}}>
        Save
      </button>
    </div>
  </div>
  <!-- /.box-footer -->
</div>