<div class="row">
    <div class="col-md-1">
        <div class="form-group">
            <label>Priority</label>
          {{#x-select value=request.priority class="form-control"}}
            {{#each priorities as |item|}}
              {{#x-option value=item}}{{item}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Location</label>
          {{#util/x-select
          options=locations
          searchEnabled=false
          selected=currentLocation
          placeholder='Select'
          onchange=(action "locationChanged")
          class="input-assigned-to"
          as |result|
          }}
            {{result.name}}
          {{/util/x-select}}

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Session</label>
          {{#util/x-select
          options=filteredSessions
          searchEnabled=false
          selected=currentSession
          placeholder='Select'
          onchange=(action "sessionChanged")
          disabled=isSessionDisabled
          as |result|
          }}
            {{result.name}}
          {{/util/x-select}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Program / Cabin</label>
          {{#util/x-select
          options=filteredEvents
          searchEnabled=false
          selected=request.event
          placeholder='Select'
          onchange=(action (mut request.event))
          disabled=isEventDisabled
          as |result|
          }}
            {{result.fullName}}
          {{/util/x-select}}
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Status</label>
          {{#x-select class="form-control" value=request.submitStatus}}
            {{#each listService.regStatus as |item|}}
              {{#x-option value=item.value}}{{item.label}}{{/x-option}}
            {{/each}}
          {{/x-select}}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Note</label>
          {{input type="text" class="form-control" value=request.note}}
        </div>
    </div>

    <div class="col-md-2" style="padding: 25px;">
        Count Towards Capacity?
      {{input type="checkbox" checked=request.attending}}
      {{#util/x-tooltip content='Will this request occupy one of the available spaces for this event?'}}
        {{fa-icon "info"}}
      {{/util/x-tooltip}}
    </div>

    <div class="col-md-1" style="padding: 25px;">
        <a {{action "removeRequest" }} class="btn btn-xs btn-primary">
          {{fa-icon 'trash'}}
        </a>
    </div>
</div>
<hr/>