<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Priority</label>
            {{#x-select value=request.priority class="form-control"}}
                {{#each priorities as |item|}}
                    {{#x-option value=item}}{{item}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Location</label>
            {{#x-select action="locationChanged" class="form-control" comp=this value=currentLocation}}
                {{#each locations as |item|}}
                    {{#x-option value=item}}{{item.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Session</label>
            {{#x-select action="sessionChanged" class="form-control" comp=this disabled=isSessionDisabled value=currentSession}}
                {{#x-option value=null}}Select{{/x-option}}
                {{#each filteredSessions as |item|}}
                    {{#x-option value=item}}{{item.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Program / Cabin</label>
            {{#x-select class="form-control" comp=this disabled=isEventDisabled value=request.event.content}}
                {{#x-option value=null}}Select{{/x-option}}
                {{#each filteredEvents as |item|}}
                    {{#x-option value=item}}{{item.program.name}} / {{item.cabin.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label>Status</label>
            {{#x-select class="form-control" value=request.submitStatus}}
                {{#each listService.regStatus as |item|}}
                    {{#x-option value=item.value}}{{item.label}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label>Confirmed
                {{#my-tooltip content="Will this request occupy one of the available spaces for this event?"}}
                    {{fa-icon "info"}}
                {{/my-tooltip}}
            </label>
            {{#x-select class="form-control" value=request.attending}}
                {{#each listService.boolean as |item|}}
                    {{#x-option value=item.value}}{{item.name}}{{/x-option}}
                {{/each}}
            {{/x-select}}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Note</label>
            {{input type="text" class="form-control" value=request.note}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
        <div class="form-group">
            <a {{action "removeRequest" }} class="btn btn-primary">
                {{fa-icon 'trash'}}
            </a>
        </div>
    </div>
</div>
<hr/>