<div class="box box-warning">
    <!-- /.box-header -->
    <div class="box-body form-horizontal">
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Name:</label>

            <div class="col-sm-8">
              {{input value=model.name class="form-control"}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Amount:</label>

            <div class="col-sm-8">
              {{input value=model.amount class="form-control"}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Basis:</label>

            <div class="col-sm-7">
              {{#each listService.feeBasis as |item| }}
                {{radio-button value=item.value groupValue=model.basis}} {{item.label}}
              {{/each}}
            </div>
            <div class="col-sm-1">
              {{#x-tooltip content="A fee is applied when one of the following is created."}}
                {{fa-icon "info"}}
              {{/x-tooltip}}
            </div>
        </div>
        <div class="row form-group required">
            <label class="col-sm-4 control-label">Payment Schedule:</label>

            <div class="col-sm-7">
              {{#each listService.feePaymentSchedule as |item| }}
                {{radio-button value=item.value groupValue=model.paymentSchedule}} {{item.label}}
              {{/each}}
            </div>
            <div class="col-sm-1">
              {{#x-tooltip content="When is payment for the fee expected? <br /> Upfront: Right away <br /> Deferred: At a later time" contentAsHTML=true}}
                {{fa-icon "info"}}
              {{/x-tooltip}}
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-4 control-label">Description:</label>

            <div class="col-sm-8">
              {{textarea rows='10' value=model.description class="form-control"}}
            </div>
        </div>
    </div>
    <div class="box-footer clearfix">
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-xs" {{action "save" model}}>Save</button>
          {{#link-to 'mgr.setup.fees.info' model class="btn btn-primary btn-xs"}}Cancel{{/link-to}}
        </div>
    </div>
</div>