<div class="row">
    <div class="col-md-6">
        <div class="box box-default ">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{#link-to 'setup.settings'}}Settings{{/link-to}}
                </h3>
            </div>
            <div class="box-body" style="display: block;">
                Edit many general purpose settings that drive the way Smores behaves.
            </div>

            <div class="box-header">
                <h3 class="box-title">
                    {{#link-to 'setup.fields'}}Custom Fields{{/link-to}}
                </h3>
            </div>

            <div class="box-body" style="display: block;">
                Add custom fields to many parts of Smores. Here you can define which fields should be added and control
                where they are displayed.
            </div>

            <div class="box-header with-border">
                <h3 class="box-title">
                    {{#link-to 'users'}}Users{{/link-to}}
                </h3>
            </div>
            <div class="box-body" style="display: block;">
                Add and edit administrative users to the Smores system.
            </div>

            <div class="box-header">
                <h3 class="box-title">
                    {{#link-to 'fees'}}Fees{{/link-to}}
                </h3>
            </div>
            <div class="box-body" style="display: block;">
                Configured Smores to apply fees at different points in your camp's lifecycle.
            </div>

        </div>


    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
        {{setup/info-box count=model.locationCount name='Locations' color='bg-green' location='locations'}}
        {{setup/info-box count=model.programCount name='Programs' color='bg-aqua' location='programs'}}
        {{setup/info-box count=model.cabinCount name='Cabins' color='bg-yellow' location='cabins'}}
        {{setup/info-box count=model.sessionCount name='Sessions' color='bg-red' location='sessions'}}
        {{setup/info-box count=model.eventCount name='Events' color='bg-blue' location='events.list'}}
    </div>
</div>