<div id="mainWrapper" class="wrapper">
  {{partial "client/theme/setup-header"}}
  {{client/side-bar}}
    <!-- Content Wrapper. Contains page content -->
    <div id="contentWrapper" class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Account Members
            </h1>
          {{partial "client/theme/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">
          {{outlet}}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  {{partial "client/theme/main-footer"}}
</div>