{{#if isAdding}}
  {{util/validated-input valuePath='number' model=newPhone placeholder="###-###-####" labelText="Phone Number"}}

  <div class="form-group required">
      <label class="control-label">Phone Type</label>

      <div>
        {{#each listService.ownerNumberType as |item|}}
          {{radio-button value=item.value groupValue=newPhone.phoneType}} {{item.label}}
        {{/each}}
      </div>
  </div>

  <div class="form-group">
      <label class="control-label">Primary Number?</label>

      <div>
        {{input type="checkbox" checked=newPhone.primary}}
      </div>
  </div>

  <div class="pull-right">
      <button id="save-new-phone" class="btn btn-primary" {{action "save" newPhone}}
              disabled={{if newPhone.validations.isValid false true}}>Save
      </button>
      <button class="btn btn-primary" {{action 'cancel'}} id="cancel-new-phone">Cancel</button>
  </div>
{{/if}}

