<div class="row">
    <div class="col-md-6">
      {{owner/edit-form owner=model title='Edit Owner Information' isPending=ownerSaving}}
    </div>
    <div class="col-md-6">
        <div class="box box-{{box}}">
            <div class="box-header with-border">
                <h3 class="box-title">{{fa-icon 'phone'}} Phone Information</h3>
                <div class="box-tools">
                    <button class="btn btn-box-tool" {{action 'toggleNewPhone'}} id="new-phone">{{fa-icon 'plus'}} Phone</button>
                </div>
            </div>
            <div class="box-body">
              {{client/members/add-phone owner=model isAdding=isAdding newPhone=newPhone}}
              {{#unless isAdding}}
                  <ul class="nav nav-pills nav-stacked">
                    {{#each model.ownerNumbers as |item|}}
                      {{client/members/edit-phone phone=item isEditing=isEditing}}
                    {{/each}}
                  </ul>
              {{/unless}}
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
