<div class="row form-horizontal">
    <div class="col-md-6">
      {{util/validated-text valuePath='nameOnCard' model=newCard placeholder="Cardholder Name" labelText="Name On Card" horizontal=true}}

      {{#util/validated-input valuePath='expirationYear' model=newCard labelText="Expiration Year" horizontal=true}}
        {{#util/x-select
        class='expirationYear'
        options=listService.cardExpirationYear
        searchField='label'
        selected=(get-list listService.cardExpirationYear newCard.expirationYear)
        placeholder='Year'
        searchEnabled=false
        onchange=(action (mut-list newCard 'expirationYear')) as |item|}}
          {{item.label}}
        {{/util/x-select}}
      {{/util/validated-input}}

      {{#util/validated-input valuePath='expirationMonth' model=newCard labelText="Expiration Month" horizontal=true}}
        {{#util/x-select
        class='expirationMonth'
        options=listService.monthNumber
        searchField='label'
        selected=(get-list listService.monthNumber newCard.expirationMonth)
        placeholder='Month'
        searchEnabled=false
        onchange=(action (mut-list newCard 'expirationMonth')) as |item|}}
          {{item.label}}
        {{/util/x-select}}
      {{/util/validated-input}}

      {{util/validated-text valuePath='number' model=newCard placeholder="#########" labelText="Card Number" horizontal=true}}
      {{util/validated-text valuePath='cvc' model=newCard placeholder="" labelText="CVN or CVC" horizontal=true tooltip="A 3 or 4 digit code on your credit card."}}
    </div>
    <div class="col-md-6">
      {{#util/validated-input valuePath='vendor' model=newCard labelText="Vendor" horizontal=true}}
        {{#util/x-select
        class='vendor'
        options=listService.cardVendor
        searchField='label'
        selected=(get-list listService.cardVendor card.vendor)
        placeholder='Please select a Card Vendor'
        searchEnabled=false
        onchange=(action (mut-list newCard 'vendor')) as |item|}}
          {{item.label}}
        {{/util/x-select}}
      {{/util/validated-input}}


      {{util/validated-text valuePath='address' model=newCard labelText="Billing Address" horizontal=true}}

      {{util/validated-text valuePath='zip' model=newCard labelText="Billing Zip Code" horizontal=true}}


      {{#util/validated-input valuePath='isDebit' model=newCard labelText="Is this a debit card?" horizontal=true}}
          <div class="checkbox">
            {{#each listService.boolean  as |item|}}
              {{radio-button value=item.value groupValue=newCard.isDebit name='isDebit'}} {{item.name}}
            {{/each}}
          </div>
      {{/util/validated-input}}

      {{#util/validated-input valuePath='allowReoccuring' model=newCard labelText="Can this card be used for re-occuring charges?" horizontal=true}}
          <div class="checkbox">
            {{#each listService.boolean  as |item|}}
              {{radio-button value=item.value groupValue=newCard.allowReoccuring name='allowReoccuring'}} {{item.name}}
            {{/each}}
          </div>
      {{/util/validated-input}}


        <div class="row form-group">
            <label class="col-sm-4 control-label">Save card for future use?</label>

            <div class="col-sm-8">
              {{input type="checkbox" checked=saveNewCard}}
            </div>
        </div>

    </div>
</div>