<div class="wrapper">
  {{partial "navigation/main-header"}}
  {{partial "navigation/main-sidebar"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Attendees
            </h1>
          {{partial "navigation/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary box-top">
                        <div class="box-body">
                          {{#bs-table-pagination
                          content=model
                          tableTitle="item table #3"
                          fields=columns
                          isRemoteHandled=true
                          page=page
                          perPage=perPage
                          totalPages=totalPages
                          sorting=sortProperty
                          sortDirection=sortDirection
                          searchString=quickSearch
                          perPageOptions=pageList
                          loading=currentlyLoading
                          refresh=(route-action 'refresh')
                          changePage=(route-action 'changePage')
                          changeSort=(route-action 'changeSort')
                          runQuickSearch=(route-action 'runQuickSearch')
                          changePerPage=(route-action 'changePerPage')
                          as |item| }}
                            {{bs-table-pagination.table-row item=item columns=columns linkPath=linkPath}}
                          {{/bs-table-pagination}}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  {{partial "navigation/main-footer"}}
</div>