<div class="small-box {{color}}">
    <div class="inner">
        <h3>{{count}}</h3>
        <p>{{name}}</p>
    </div>
    <div class="icon">
      {{fa-icon "gears"}}
    </div>
  {{#link-to location class="small-box-footer"}}
      More info {{fa-icon "arrow-circle-right"}}
  {{/link-to}}
</div>