<div class="box box-{{box}}">
    <div class="box-header with-border">
        <h3 class="box-title">{{title}}</h3>
        <div class="box-tools">
            <button class="btn btn-box-tool" {{action (route-action "delete" owner)}} id="delete-owner">{{fa-icon 'trash'}} Delete</button>
        </div>
    </div>
    <div class="box-body">
      {{util/validated-input valuePath='firstName' model=owner placeholder="First Name" labelText="First Name"}}
      {{util/validated-input valuePath='lastName' model=owner placeholder="Last Name" labelText="Last Name"}}
      {{util/validated-input valuePath='email' model=owner placeholder="Email" labelText="Email"}}
        <div class="form-group required">
            <label class="control-label">Relationship to Camper</label>
            <div>
              {{#each listService.ownerRelationship as |item|}}
                {{radio-button value=item.value groupValue=owner.relationship name='relationship'}} {{item.label}}
              {{/each}}
            </div>
        </div>

        <div class="form-group required">
            <label class="control-label">Gender</label>
            <div>
              {{#each listService.gender as |item|}}
                {{radio-button value=item.value groupValue=owner.gender name='gender'}} {{item.display}}
              {{/each}}
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <div class="pull-right">
            <button id="cancel-edit-owner" class="btn btn-primary" {{action (route-action "cancel" owner)}}>Cancel</button>
            <button id="save-edit-owner" class="btn btn-primary" {{action (route-action "save" owner)}}
                    disabled={{if owner.validations.isValid false true}}>Save
            </button>
        </div>
    </div>
    <!-- /.box-footer -->
</div>