<h1>Show Batch</h1>
<div class="row">
    <div class="col-md-5">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"></h3>

                <div class="box-tools">
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-sm">{{fa-icon "trash"}} Delete</button>
                        <button class="btn btn-default btn-sm">{{fa-icon "printer"}} Print?</button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Created By</dt>
                    <dd>{{model.createdBy.firstName}} {{model.createdBy.lastName}}</dd>
                    <dt>Processed On</dt>
                    <dd>{{moment model.processedOn 'MM-DD-YYYY'}}</dd>
                    <dt>Status</dt>
                    <dd>{{model.status}}</dd>
                    <dt>Payment Method</dt>
                    <dd>{{model.paymentMethod}}</dd>
                    <dt>Amount Processed</dt>
                    <dd>
                        <span class="pull-left badge bg-green"
                              style="margin-left: 5px;">{{format-money model.amountProcessed}}</span>
                        <span class="pull-right badge bg-red"
                              style="margin-right: 10px;">{{format-money model.amountFailed}}</span>
                    </dd>
                    <dt>Transactions Processed</dt>
                    <dd>
                        <span class="pull-left badge bg-green" style="margin-left: 5px;">{{model.successCount}}</span>
                        <span class="pull-right badge bg-red" style="margin-right: 10px;">{{model.failCount}}</span>
                    </dd>
                </dl>
            </div>
            <div class="box-footer"></div>
        </div>
        <!-- /.box -->
    </div>


    <div class="col-md-7">
        <div class="box box-success box-solid" id="fail-payments">
            <div class="box-header with-border">
                <h3 class="box-title">Failed Payments</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool hidden"
                            id="fail-show" {{action 'togglePayments' 'fail'}}>
                        {{fa-icon "plus"}}
                    </button>
                    <button type="button" class="btn btn-box-tool"
                            id="fail-hide" {{action 'togglePayments' 'fail'}}>
                        {{fa-icon "minus"}}
                    </button>
                </div>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                {{#each failedPayments as |record|}}
                    <li>
                        #{{record.id}} for {{format-money record.amount}} in
                        Account {{#link-to 'accounts.info' record.account.id}}
                        #{{record.account.id}}{{/link-to}}
                    </li>
                {{/each}}
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-md-7">
        <div class="box box-success box-solid" id="success-payments">
            <div class="box-header with-border">
                <h3 class="box-title">Successful Payments</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool hidden"
                            id="success-show" {{action 'togglePayments' 'success'}}>
                        {{fa-icon "plus"}}
                    </button>
                    <button type="button" class="btn btn-box-tool"
                            id="success-hide" {{action 'togglePayments' 'success'}}>
                        {{fa-icon "minus"}}
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="list-unstyled">
                    {{#each successfulPayments as |record|}}
                        <li>
                            #{{record.id}} for {{format-money record.amount}} in
                            Account {{#link-to 'accounts.info' record.account.id}}
                            #{{record.account.id}}{{/link-to}}
                        </li>
                    {{/each}}
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
