<div id="main-wrapper">
    {{partial "navigation/menu"}}
    {{partial "navigation/navbar"}}
    <div id="content-wrapper">

        <div class="page-header">
            <h1>Accounts</h1>
        </div>

        <div class="row">
            <div class="col-sm-4">

                <div class="table-primary">
                    <div role="grid" class="dataTables_wrapper">
                        {{ partial "pager/table/header"}}
                        <table cellspacing="0" cellpadding="0" border="0"
                               class="table table-striped table-bordered dataTable">
                            <thead>
                            {{partial "pager/table/table-header"}}
                            </thead>
                            <tbody>
                            {{#each record in this}}
                                <tr class="gradeA even">
                                    <td>{{record.name}}</td>
                                    <td>{{moment record.createdOn 'MM/DD/YY'}}</td>
                                    <td>
                                        {{#link-to linkPath record class="btn btn-default"}} Open {{/link-to}}
                                    </td>
                                </tr>
                            {{else}}
                                <tr>no records found ... :-(</tr>
                            {{/each}}
                            </tbody>
                        </table>
                        {{partial "pager/table/footer"}}
                    </div>
                </div>

            </div>
            <div class="col-sm-8">
                {{outlet}}
            </div>
        </div>
        <!--End Table Row -->


    </div>
</div>
<div id="main-menu-bg"></div>