<label class="control-label">
  {{labelText}}
  {{#if isValid}}
      &nbsp; {{fa-icon 'check-circle'}}
  {{/if}}
</label>
{{input type=type value=value placeholder=placeholder class="form-control" name=valuePath}}
<span class="help-block">
  {{#if showWarningMessage}}
    {{fa-icon 'exclamation-cirlce'}} {{v-get model valuePath 'varningMessage'}}
  {{/if}}
  {{#if showErrorMessage}}
    {{fa-icon 'times-circle'}} {{v-get model valuePath 'message'}}
  {{/if}}
</span>
