<div class="wrapper">
    {{partial "navigation/main-header"}}
    {{partial "navigation/main-sidebar"}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Account Owner: {{model.firstName}} {{model.lastName}}
            </h1>
            {{partial "navigation/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->

            <div class="row">
                <section class="col-md-6">
                    <div class="box">
                        <div class="box-body">
                            <dl class="dl-horizontal">
                                <dt>Account</dt>
                                <dd>{{#link-to "accounts.account" model.account}}Open{{/link-to}}</dd>
                                <dt>Email</dt>
                                <dd>{{model.email}}</dd>
                                <dt>Birthday</dt>
                                <dd>{{model.dob}}</dd>
                                <dt>Phone Numbers</dt>
                                <dd>
                                    <ul>
                                        <li>Home</li>
                                        <li>Work</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                        <div class="box-footer">
                            Footer
                        </div>
                    </div>
                    <!-- /.box -->
                </section>
                <section class="col-md-6">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-default btn-xs">Delete</a>
                                {{#link-to "setup.locations.edit" class="btn btn-default btn-xs"}}Edit{{/link-to}}
                            </div>
                            <h4 class="panel-title">{{fa-icon "clipboard"}}Registrations</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <span class="list-group-item">
                                    Registration #1
                                    <ul>
                                        <li>Request #1</li>
                                        <li>Request #2</li>
                                        <li>Request #3</li>
                                    </ul>
                                </span>
                                <span class="list-group-item">
                                    Description (What your customers see)
                                </span>
                            </ul>
                        </div>
                    </div>

                </section>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{partial "navigation/main-footer"}}
</div>