<div class="nav-tabs-custom">
  {{accounts/tab-nav model=model isPayment='active'}}
    <div class="tab-content">
        <div id="main" class="tab-pane active">
            <h3>Add A {{mode}} Payment for account #{{model.account.id}}</h3>

          {{payment/source-chooser newCard=model.newCard newCheck=newCheck
          selectedCard=model.selectedCard
          existingCards=existingCards
          mode=model.mode
          useNewCard=model.useNewCard
          saveNewCard=model.saveNewCard }}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="panel-title">
                                <span class="label label-info">#2</span>
                                Enter the payment amount
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-6">
                            <div class="row form-group required">
                                <label class="col-sm-4 control-label">Amount $</label>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                      {{input type="text" class="form-control" value=model.newPayment.amount}}

                                      {{#util/input-tooltip content="Amount should not exceed this account's outstanding balance."}}
                                        {{fa-icon "info"}}
                                      {{/util/input-tooltip}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                              {{#spinner-button
                              onclick=(action (route-action "save" model))
                              isSpinning=model.isPending
                              id="save-new-payment"
                              class="btn btn-primary"}}
                                  Submit Payment
                              {{/spinner-button}}

                              {{#link-to model.returnRoute class="btn btn-primary"}}Cancel{{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>