<div class="nav-tabs-custom">
  {{accounts/tab-nav model=model isPayment='active'}}
    <div class="tab-content">
        <div id="main" class="tab-pane active">
            <h3>Add A {{mode}} Payment for account #{{model.account.id}}</h3>

            <div class="row">
                <div class="col-md-7">
                    <h3><span class="label label-info">#1</span> Choose which type of payment to make</h3>

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="panel-title">Payment Type</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right">
                                        <button class="btn btn-default btn-xs"
                                                id="cash-button" {{action "activateCash"}}>
                                            Cash
                                        </button>
                                        <button class="btn btn-primary btn-xs"
                                                id="credit-button" {{action "activateCredit"}}>
                                            Credit
                                        </button>
                                        <button class="btn btn-default btn-xs"
                                                id="check-button" {{action "activateCheck"}}>
                                            Check
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body" id="credit-panel">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" {{action "toggleCredit" model.cardMode}}>{{toggleText}}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group required hidden" id="new-card-form">
                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Name On Card</label>

                                            <div class="col-sm-8">
                                              {{input type="text" class="form-control" value=model.newCard.nameOnCard}}
                                            </div>
                                        </div>
                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Expiration</label>

                                            <div class="col-sm-4">
                                              {{#x-select value=model.newCard.expirationMonth class="form-control"}}
                                                  <option>Month</option>
                                                {{#each listService.monthNumber as |item|}}
                                                  {{#x-option value=item.value}}{{item.label}}{{/x-option}}
                                                {{/each}}
                                              {{/x-select}}
                                            </div>
                                            <div class="col-sm-4">
                                              {{#x-select value=model.newCard.expirationYear class="form-control"}}
                                                  <option>Year</option>
                                                {{#each listService.cardExpirationYear as |item|}}
                                                  {{#x-option value=item.value}}{{item.label}}{{/x-option}}
                                                {{/each}}
                                              {{/x-select}}
                                            </div>
                                        </div>
                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Card Number</label>

                                            <div class="col-sm-8">
                                              {{input type="text" class="form-control" value=model.newCard.number}}
                                            </div>
                                        </div>
                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">CVN or CVC</label>

                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                  {{input type="text" class="form-control" value=model.newCard.cvc}}

                                                  {{#input-tooltip content="A 3 or 4 digit code on your credit card."}}
                                                    {{fa-icon "info"}}
                                                  {{/input-tooltip}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Vendor</label>

                                            <div class="col-sm-8">
                                              {{#x-select value=model.newCard.vendor class="form-control"}}
                                                  <option>Select</option>
                                                {{#each listService.cardVendor as |item|}}
                                                  {{#x-option value=item.value}}{{item.label}}{{/x-option}}
                                                {{/each}}
                                              {{/x-select}}
                                            </div>
                                        </div>

                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Billing Address</label>

                                            <div class="col-sm-8">
                                              {{input type="text" class="form-control" value=model.newCard.address}}
                                            </div>
                                        </div>

                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Billing Zip Code</label>

                                            <div class="col-sm-8">
                                              {{input type="text" class="form-control" value=model.newCard.zip}}
                                            </div>
                                        </div>

                                        <div class="row form-group required">
                                            <label class="col-sm-4 control-label">Is this a debit card?</label>

                                            <div class="col-sm-8">
                                              {{#each listService.boolean  as |item|}}
                                                {{radio-button value=item.value groupValue=model.newCard.isDebit}} {{item.name}}
                                              {{/each}}
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-4 control-label">Save card for future use?</label>

                                            <div class="col-sm-8">
                                              {{input type="checkbox" checked="saveCard"}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group required" id="card-on-file-form">
                                <label>Credit Card On File</label>

                                <div class="input-group">
                                  {{#x-select value=model.selectedCard class='form-control' disabled=false id="cardOnFile"}}
                                      <option>Select</option>
                                    {{#each model.cards as |item|}}
                                      {{#x-option value=item}}{{item.name}}{{/x-option}}
                                    {{/each}}
                                  {{/x-select}}

                                  {{#input-tooltip content="Only active credit cards will appear in this list."}}
                                    {{fa-icon "info"}}
                                  {{/input-tooltip}}
                                </div>
                            </div>
                        </div>

                        <div class="panel-body hidden" id="check-panel">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Check #</label>

                                        <div class="input-group">
                                          {{input type="text" class="form-control" value=model.check.number id="checkNumber" disabled=true}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Check Date</label>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                          {{pikaday-input value=model.check.date format='MM-DD-YYYY' valueFormat='YYYY-MM-DD' class="form-control" allowBlank=true yearRange="5" id="checkDate" disabled=true}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body hidden" id="cash-panel">
                            <div class="row">
                                <div class="col-md-12">
                                    Cash selected, skip to amount.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5">
                    <h3><span class="label label-info">#2</span> Enter the payment amount</h3>

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="panel-title">Amount</h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                      {{#spinner-button action="save" isSpinning=model.isSpinning class="btn btn-primary" }}
                                          Submit Payment
                                      {{/spinner-button}}

                                      {{#link-to 'mgr.account.payments.info' class="btn btn-primary"}}Cancel{{/link-to}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Amount $</label>

                                <div class="input-group">
                                  {{input type="text" class="form-control" value=model.payment.amount}}

                                  {{#input-tooltip content="Amount should not exceed this account's outstanding balance."}}
                                    {{fa-icon "info"}}
                                  {{/input-tooltip}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>