<!-- Default box -->
<div class="row">
    <div class="col-md-6">
        <!-- Default box -->
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Details</h3>

                <div class="box-tools">
                    <div class="btn-group pull-right">
                        {{#link-to "events.edit" model.id class="btn btn-default btn-xs"}} {{fa-icon "pencil"}}
                            Edit{{/link-to}}
                        <button class="btn btn-default btn-xs"  {{action 'showModal' 'modals/delete-confirm' model}}>{{fa-icon "trash"}}
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Cabin</dt>
                    <dd>{{model.cabin.name}}</dd>
                    <dt>Location</dt>
                    <dd>{{model.location.name}}</dd>
                    <dt>Program</dt>
                    <dd>{{model.program.name}}</dd>
                    <dt>Session</dt>
                    <dd>{{model.session.name}}</dd>
                    <dt>Date Range</dt>
                    <dd>{{moment-format model.session.start 'MM/DD/YYYY'}} - {{moment model.session.end 'MM/DD/YYYY'}}</dd>
                    <dt>Age Range</dt>
                    <dd>{{model.cabin.minAge}} - {{model.cabin.maxAge}} years</dd>
                    <dt>Gender</dt>
                    <dd>{{model.cabin.gender}}</dd>
                    <dt>Maximum Capacity</dt>
                    <dd>{{model.cabin.capacity}}</dd>
                    <dt>Cost</dt>
                    <dd>{{format-money model.fee}}</dd>
                </dl>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-6">
        <!-- Default box -->
        <div class="box box-primary box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Registered Attendees</h3>

                <div class="box-tools">
                </div>
            </div>
            <div class="box-body">
                <ul>
                    {{#each requests as |item| }}
                        <li>{{item.id}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
</div>