<div id="mainWrapper" class="wrapper">
  {{partial "client/theme/setup-header"}}
  {{client/side-bar}}
    <!-- Content Wrapper. Contains page content -->
    <div id="contentWrapper" class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> My Account </h1>
          {{partial "client/theme/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Profile</h3>
                </div>
                <div class="box-body">
                    <p>
                        Your # is: {{session.data.authenticated.data.id}} <br/>
                        Your Account # is: {{session.data.authenticated.data.attributes.account-id}} <br/>
                        Your Email is: {{session.data.authenticated.data.attributes.email}} <br/>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>