<div class="info-box">
    <span class="info-box-icon bg-green">#{{pref}}</span>

    <div class="info-box-content">
                    <span class="info-box-text">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Location</label>
                            </div>
                            <div class="col-md-3">
                                <label>Cabin</label>
                            </div>
                            <div class="col-md-2">
                                <label>Program</label>
                            </div>
                            <div class="col-md-2">
                                <label>Session</label>
                            </div>
                            <div class="col-md-2">

                            </div>
                        </div>


                      {{#each requests as |item index|}}
                        {{#if (eq item.priority pref)}}
                            <div class="row">
                                <div class="col-md-3">{{item.event.location.name}}</div>
                                <div class="col-md-3">{{item.event.cabin.name}}</div>
                              <div class="col-md-2">{{item.event.program.name}}</div>
                              <div class="col-md-2">{{item.event.session.name}}</div>
                                <div class="col-md-2">
                                    <dl class="dl-horizontal">
                                        {{#if item.event.fee}}
                                            <dt>Event Fee</dt>
                                            <dd>{{format-money item.event.fee}}</dd>
                                        {{/if}}
                                      {{#if item.event.program.fee}}
                                          <dt>Program Fee</dt>
                                            <dd>{{format-money item.event.program.fee}}</dd>
                                      {{/if}}
                                    </dl>
                                </div>
                            </div>
                        {{/if}}
                      {{/each}}
                    </span>
    </div>
    <!-- /.info-box-content -->
</div>